.card{
  
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0 auto;
align-items: center;
justify-content: center;
}
.input{
    padding: 10px;
    width: 100%;
    outline: none;
}
.box_for_input{
    width: 50%;
    margin: 40px  auto;

}
.title{
    background-color: black;
    color: aliceblue;
}