.for_input{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.105);
}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
.for_input:hover{
    background-color: #F7F9F9;
}
.box{
    border-left:1px solid rgba(0, 0, 0, 0.304) ;
    width: 700px;
    padding: 0 20px;
    position: fixed;
    left: 1000px;
}
.for_input{
    margin-top: 20px;
    width: 50%;
}
.set1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Settingpage{
    margin-top: 20px;
    max-width: 373px;
    background-color: #F7F9F9;
    border-radius: 12px;
    padding: 20px 20px;
}
.link{
   color: rgb(0, 136, 255);
  
}
.link2{
    color: rgb(0, 136, 255);
   margin-left: 20px;
 }
.min-box{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.title-minbox{
    line-height: 0;
}
.end_box{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.end_box2{
    display: none;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texting{
    margin-bottom: 30px;
}
.btn-showmore{
    padding: 10px 15px ;
    background-color: black;
    border:  none;
    color: white;
    transition: .3s;
    border-radius: 20px;
}
.btn-showmore:hover{
    background-image: linear-gradient(to left , rgba(0, 0, 0, 0.207) ,rgba(255, 255, 255, 0.563) , rgba(255, 0, 0, 0.166));
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.min-box2{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

