.blog{
    width: 700px;
    position: absolute;
    left: 300px;
}
.title{
    font-size: 24px;
    line-height: 100%;
}
.miBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.304);
    padding: 0 25px;
}
.darck{
    background-color: black;
    color: aliceblue;
}
.active{
    color: black;
    background-color: rgb(47, 0, 255);
}
