.Navbar_box{
    border-right:1px solid rgba(0, 0, 0, 0.304) ;
    color:  white;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
.Navbar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
}
.item1{
    display: flex;
    column-gap:15px;
}
ul li{
    line-height: 20px;
}
.home_title{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.btn{
background-color: #1D9BF0;
 font-size: 18px;
line-height: 100%;
color: white;
padding: 15px 80px;
border:  none;
border-radius: 30px;
margin: 10px 0 0 -25px;
}
.image{
    margin: 15px 0 25px 0;
}
